body{
    text-transform: capitalize;
    box-sizing: border-box;
    
}
#sidebar {
    z-index: 100;
    
}
.content{
    /* z-index: 100; */
    background-color: white;
}
p{
    font-weight: 500;
    font-size: 25px;
    color: white;
}
